@tailwind base;
@tailwind components;
@tailwind utilities;


.header,.footer{
    background-color: hsl(225deg 14.63% 16.08%);
}
.home, .allPosts{
    background-color: hsl(228deg 9.8% 10%);
}
.active{
    text-decoration: underline #f70;
}
.login{
    background-color: hsl(224deg 24.32% 36.27%);
}

.setting {
    animation: example 15s infinite;
  }

  @keyframes example {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }